@font-face {
  font-family: robotoRegular;
  src: url(./font/Roboto_Slab/static/RobotoSlab-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: robotoRegular;
}

* body {
  background-color: #bcbdb8;
  color: black;
  overflow-x: hidden;
  height: 100vh;
  position: relative;
}

* body .loading-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #111;
  opacity: 0.9;
}

* body .loading-container .circle {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid transparent;
  margin: -30px;
  -webkit-animation: animationload 4s linear infinite;
          animation: animationload 4s linear infinite;
}

@-webkit-keyframes animationload {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animationload {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

* body .loading-container .circle::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

* body .loading-container .id-1 {
  border-top: 4px solid #24ecff;
}

* body .loading-container .id-1::before {
  background: #24ecff;
  -webkit-box-shadow: 0 0 0 5px #24ecff33, 0 0 0 10px #24ecff22, 0 0 0 15px #24ecff11;
          box-shadow: 0 0 0 5px #24ecff33, 0 0 0 10px #24ecff22, 0 0 0 15px #24ecff11;
}

* body .loading-container .id-2 {
  border-top: 4px solid #93ff2d;
  -webkit-animation: animationload2 4s linear infinite;
          animation: animationload2 4s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

@-webkit-keyframes animationload2 {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes animationload2 {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

* body .loading-container .id-2::before {
  background: #93ff2d;
  -webkit-box-shadow: 0 0 0 5px #93ff2d33, 0 0 0 10px #93ff2d22, 0 0 0 15px #93ff2d11;
          box-shadow: 0 0 0 5px #93ff2d33, 0 0 0 10px #93ff2d22, 0 0 0 15px #93ff2d11;
}

* body .loading-container .id-3 {
  position: absolute;
  top: 366.66px;
  border-top: 4px solid #e41cf8;
  -webkit-animation: animationload2 4s linear infinite;
          animation: animationload2 4s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

* body .loading-container .id-3::before {
  background: #e41cf8;
  -webkit-box-shadow: 0 0 0 5px #e41cf833, 0 0 0 10px #e41cf822, 0 0 0 15px #e41cf811;
          box-shadow: 0 0 0 5px #e41cf833, 0 0 0 10px #e41cf822, 0 0 0 15px #e41cf811;
}

* body .loading-container p {
  position: absolute;
  color: white;
  font-size: 1.5em;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 0.15em;
  top: 65%;
}

* body #bg-video {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  opacity: 0.75;
}

* body .content {
  width: calc(100% - 20%);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

* body .content aside {
  width: calc(100% - 77%);
  height: 100%;
  border-right: 2px solid rgba(0, 0, 0, 0.8);
}

* body .content aside .info {
  background-color: #f2f2f2;
  height: 100%;
}

* body .content aside .info h2 {
  text-align: center;
  color: #d34a16;
}

* body .content aside .info img {
  border-radius: 65%;
  width: 100%;
  padding: 15px;
}

* body .content article {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
}

* body .content article .summary {
  height: 100%;
}

* body .content article .summary .skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

* body .content article .summary .skills ul li {
  border-radius: 15px;
  height: 50px;
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px;
  border: 2px solid;
  -webkit-animation: animateBorder 2s infinite;
          animation: animateBorder 2s infinite;
  -webkit-box-reflect: below -15px linear-gradient(transparent, #0004);
}

@-webkit-keyframes animateBorder {
  0% {
    border-image: -webkit-gradient(linear, left bottom, left top, from(#d34a16), color-stop(#43d343), to(transparent)) 1 100%;
    border-image: linear-gradient(to top, #d34a16, #43d343, transparent) 1 100%;
  }
  100% {
    border-image: -webkit-gradient(linear, left top, left bottom, from(#d34a16), color-stop(#43d343), to(transparent)) 1 100%;
    border-image: linear-gradient(to bottom, #d34a16, #43d343, transparent) 1 100%;
  }
}

@keyframes animateBorder {
  0% {
    -o-border-image: linear-gradient(to top, #d34a16, #43d343, transparent) 1 100%;
       border-image: -webkit-gradient(linear, left bottom, left top, from(#d34a16), color-stop(#43d343), to(transparent)) 1 100%;
       border-image: linear-gradient(to top, #d34a16, #43d343, transparent) 1 100%;
  }
  100% {
    -o-border-image: linear-gradient(to bottom, #d34a16, #43d343, transparent) 1 100%;
       border-image: -webkit-gradient(linear, left top, left bottom, from(#d34a16), color-stop(#43d343), to(transparent)) 1 100%;
       border-image: linear-gradient(to bottom, #d34a16, #43d343, transparent) 1 100%;
  }
}

* body .content article .summary .skills ul li > img {
  height: 100%;
  margin-right: 8px;
}

* body .content article .summary .skills ul li:nth-child(2) > img,
* body .content article .summary .skills ul li:nth-child(5) > img {
  width: 100%;
  padding: 2px;
}

* body .content article .summary .experience ul li {
  list-style-type: none;
}

* body .content article .summary .experience ul li:first-child {
  margin: 20px 0;
  -webkit-animation: animateText 7s linear infinite;
          animation: animateText 7s linear infinite;
}

@-webkit-keyframes animateText {
  0%,
  20%,
  50%,
  60.7%,
  75%,
  80.4%,
  90%,
  95.1% {
    color: #d34a16;
    text-shadow: none;
  }
  1%,
  21%,
  51%,
  65%,
  76%,
  89%,
  92.5%,
  100% {
    color: white;
    text-shadow: 0 0 10px #d34a16;
  }
}

@keyframes animateText {
  0%,
  20%,
  50%,
  60.7%,
  75%,
  80.4%,
  90%,
  95.1% {
    color: #d34a16;
    text-shadow: none;
  }
  1%,
  21%,
  51%,
  65%,
  76%,
  89%,
  92.5%,
  100% {
    color: white;
    text-shadow: 0 0 10px #d34a16;
  }
}

* body .content article .summary .education {
  padding-bottom: 22.5px;
}

* body .content .break {
  width: 100%;
  height: 50px;
  background-color: #d34a16;
  display: block;
}

* .container {
  display: inline-block;
  height: 100%;
  width: 100%;
}

* .container .item {
  border: 0;
  padding: 1.2em;
  font-size: 1.15em;
  overflow-wrap: break-word;
}

* .container .item b {
  color: #d34a16;
  font-size: 1.6em;
  position: relative;
}

* .container .item b::after {
  content: "";
  text-decoration: underline;
  width: auto;
  height: 2px;
  background: #434660;
  z-index: 1;
  display: block;
  position: absolute;
  bottom: -0.2em;
  left: 0;
  width: 100%;
}

* .container .item p,
* .container .item ul {
  margin: 15px 0;
  list-style-type: none;
}

* .container .item p span:first-child,
* .container .item ul span:first-child {
  font-weight: 600;
}

* .container .item p span:nth-child(2),
* .container .item ul span:nth-child(2) {
  display: block;
}

* .container .bg-color {
  background-color: #376193;
}

@media only screen and (max-width: 1200px) {
  * #bg-video {
    display: none;
  }
  * .content {
    width: 100% !important;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 2560px) {
  * .container .item {
    font-size: .9em;
    padding: 1.1em;
  }
}

@media only screen and (max-width: 1000px) {
  * .container .item {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 908px) {
  * .container .item {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 768px) {
  * .content {
    height: auto !important;
    display: block !important;
  }
  * .content .break {
    display: block !important;
    height: 35px !important;
  }
  * .content aside {
    width: 100% !important;
  }
  * .content aside .info {
    font-size: 1.2em;
  }
  * .content aside .info img {
    width: 30% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
  }
  * .content article .summary {
    font-size: 20px !important;
  }
}
/*# sourceMappingURL=index.css.map */