$color-title: #d34a16;
$bg-color: #f2f2f2;

@font-face {
  font-family: robotoRegular;
  src: url(./font/Roboto_Slab/static/RobotoSlab-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: robotoRegular;
  // .d-flex{
  //   display: flex;
  // }
  // .d-block{
  //   display: block;
  // }
  body {
    background-color: #bcbdb8;
    color: black;
    overflow-x: hidden;
    height: 100vh;
    position: relative;
    .loading-container {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      margin: auto;
      justify-content: center;
      align-items: center;
      background: #111;
      opacity: 0.9;
      .circle {
        position: relative;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 4px solid transparent;
        margin: -30px;
        animation: animationload 4s linear infinite;
        @keyframes animationload {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
        &::before {
          content: "";
          position: absolute;
          top: 12px;
          right: 12px;
          border-radius: 50%;
          width: 15px;
          height: 15px;
        }
      }
      .id-1 {
        border-top: 4px solid #24ecff;
        &::before {
          background: #24ecff;
          box-shadow: 0 0 0 5px #24ecff33, 0 0 0 10px #24ecff22,
            0 0 0 15px #24ecff11;
        }
      }
      .id-2 {
        border-top: 4px solid #93ff2d;
        animation: animationload2 4s linear infinite;
        animation-delay: -1s;
        @keyframes animationload2 {
          0% {
            transform: rotate(360deg);
          }
          100% {
            transform: rotate(0);
          }
        }
        &::before {
          background: #93ff2d;
          box-shadow: 0 0 0 5px #93ff2d33, 0 0 0 10px #93ff2d22,
            0 0 0 15px #93ff2d11;
        }
      }
      .id-3 {
        position: absolute;
        top: 366.66px;
        border-top: 4px solid #e41cf8;
        animation: animationload2 4s linear infinite;
        animation-delay: -3s;
        &::before {
          background: #e41cf8;
          box-shadow: 0 0 0 5px #e41cf833, 0 0 0 10px #e41cf822,
            0 0 0 15px #e41cf811;
        }
      }
      p {
        position: absolute;
        color: white;
        font-size: 1.5em;
        font-family: "Courier New", Courier, monospace;
        letter-spacing: 0.15em;
        top: 65%;
      }
    }

    #bg-video {
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: fill;
      opacity: 0.75;
    }
    .content {
      width: calc(100% - 20%);
      height: 100%;
      display: flex;
      margin: auto;
      aside {
        width: calc(100% - 77%);
        height: 100%;
        border-right: 2px solid rgba(0, 0, 0, 0.8);
        .info {
          background-color: $bg-color;
          height: 100%;
          h2 {
            text-align: center;
            color: $color-title;
          }
          img {
            border-radius: 65%;
            width: 100%;
            padding: 15px;
          }
        }
      }
      article {
        width: 100%;
        height: 100%;
        background-color: $bg-color;
        .summary {
          height: 100%;
          .skills {
            ul {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-evenly;
              text-align: center;
              li {
                border-radius: 15px;
                height: 50px;
                margin: 15px 0;
                display: flex;
                padding: 6px;
                border: 2px solid;
                animation: animateBorder 2s infinite;
                -webkit-box-reflect: below -15px linear-gradient(transparent, #0004);
                @keyframes animateBorder {
                  0% {
                    border-image: linear-gradient(
                        to top,
                        $color-title,
                        rgb(67, 211, 67),
                        transparent
                      )
                      1 100%;
                  }
                  100% {
                    border-image: linear-gradient(
                        to bottom,
                        $color-title,
                        rgb(67, 211, 67),
                        transparent
                      )
                      1 100%;
                  }
                }
                & > img {
                  height: 100%;
                  margin-right: 8px;
                }
              }

              li:nth-child(2),
              li:nth-child(5) {
                & > img {
                  width: 100%;
                  padding: 2px;
                }
              }
            }
          }
          .experience {
            ul {
              li {
                list-style-type: none;
                &:first-child {
                  margin: 20px 0;
                  animation: animateText 7s linear infinite;
                  @keyframes animateText {
                    0%,
                    20%,
                    50%,
                    60.7%,
                    75%,
                    80.4%,
                    90%,
                    95.1% {
                      color: $color-title;
                      text-shadow: none;
                    }
                    1%,
                    21%,
                    51%,
                    65%,
                    76%,
                    89%,
                    92.5%,
                    100% {
                      color: white;
                      text-shadow: 0 0 10px $color-title;
                      // filter: blur(0);
                    }
                  }
                }
              }
            }
          }
          .education {
            padding-bottom: 22.5px;
          }
        }
      }
      .break {
        width: 100%;
        height: 50px;
        background-color: $color-title;
        display: block;
      }
    }
  }
  .container {
    display: inline-block;
    height: 100%;
    width: 100%;
    .item {
      border: 0;
      padding: 1.2em;
      font-size: 1.15em;
      overflow-wrap: break-word;
      b {
        color: $color-title;
        font-size: 1.6em;
        position: relative;
        &::after {
          content: "";
          text-decoration: underline;
          width: auto;
          height: 2px;
          background: #434660;
          z-index: 1;
          display: block;
          position: absolute;
          bottom: -0.2em;
          left: 0;
          width: 100%;
        }
      }
      p,
      ul {
        margin: 15px 0;
        list-style-type: none;
        span:first-child {
          font-weight: 600;
        }
        span:nth-child(2) {
          display: block;
        }
      }
    }
    .bg-color {
      background-color: #376193;
    }
  }

  @media only screen and (max-width: 1200px) {
    #bg-video {
      display: none;
    }
    .content {
      width: 100% !important;
    }
  }

  @media only screen and (min-width: 1001px) and (max-width: 2560px) {
    .container {
      .item {
        font-size: .9em;
        padding: 1.1em;
      }
    }
  }
  @media only screen and (max-width: 1000px) {
    .container {
      .item {
        font-size: 0.9em;
      }
    }
  }
  @media only screen and (max-width: 908px) {
    .container {
      .item {
        font-size: 0.8em;
      }
    }
  }
  @media only screen and (max-width: 768px) {
    .content {
      height: auto !important;
      // display: block !important;
      // .break {
      //   display: block !important;
      //   height: 35px !important;
      // }
      aside {
        width: 100% !important;
        border: 0 !important;
        .info {
          font-size: 1.2em;
          img {
            width: 30% !important;
            display: flex;
            margin: auto;
          }
        }
      }
      article {
        .summary {
          font-size: 20px !important;
        }
      }
    }
  }
}
