$color-title: #1f3d61;
$bg-color: #f2f2f2;
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  body {
    background-color: #bcbdb8;
    color: black;
    overflow-x: hidden;
    height: 100vh;
    position: relative;
    .content {
      width: calc(100% - 20%);
      height: 100%;
      display: flex;
      margin: auto;
      aside {
        width: calc(100% - 77%);
        height: 100%;
        .info {
          background-color: $bg-color;
          height: 100%;
          h2 {
            text-align: center;
            color: $color-title;
          }
          img {
            border-radius: 65%;
            width: 100%;
            padding: 15px;
          }
        }
      }
      article {
        width: 100%;
        height: 100%;
        background-color: $bg-color;
        .summary {
          height: 100%;
          .skills {
            ul {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-evenly;
              text-align: center;
              li {
                border-radius: 15px;
                width: 143px;
                height: 50px;
                margin: 15px 0;
                display: flex;
                padding: 6px;
                & > img {
                  height: 100%;
                  margin-right: 8px;
                }
              }
              //   li:first-child {
              //     border: 2px solid #ff5722;
              //   }
              li:nth-child(2) {
                // border: 2px solid #f33052;
                & > img {
                  width: 100%;
                  padding: 2px;
                }
              }
              //   li:nth-child(3) {
              //     border: 2px solid #e4ba42;
              //   }
              //   li:nth-child(4) {
              //     border: 2px solid #00bcd4;
              //   }
              li:nth-child(5) {
                // border: 2px solid #30a6fd;
                & > img {
                  width: 100%;
                  padding: 2px;
                }
              }
              //   li:last-child {
              //     border: 2px solid #90a389;
              //   }
            }
          }
          .experience {
            ul {
              li {
                list-style-type: none;
                &:first-child {
                  margin: 20px 0;
                }
              }
            }
          }
          .education {
            padding-bottom: 22.5px;
          }
        }
      }
    }
  }
  .container {
    display: inline-block;
    height: 100%;
    width: 100%;
    .item {
      border: 1px solid rgba(0, 0, 0, 0.8);
      padding: 20px;
      font-size: 20px;
      overflow-wrap: anywhere;
      b {
        color: $color-title;
        font-size: 30px;
        &::after {
          content: "";
          text-decoration: underline;
          width: 100%;
          height: 2px;
          background: $color-title;
          z-index: 1;
          display: block;
        }
      }
      p,
      ul {
        margin: 15px 0;
        list-style-type: none;
        span:first-child {
          font-weight: 600;
        }
        span:nth-child(2) {
          display: block;
        }
      }
    }
    .bg-color {
      background-color: #376193;
    }
  }

  @media only screen and (max-width: 1440px) {
    .container {
      .item {
        padding: 20px;
        font-size: 18px;
        b {
          font-size: 25px;
        }
      }
    }
  }
  @media only screen and (max-width: 1200px) {
    .content {
      width: 100% !important;
    }
  }
  @media only screen and (max-width: 1000px) {
    .container {
      .item {
        padding: 20px;
        font-size: 15px;
        b {
          font-size: 20px;
        }
        ul {
          margin: 10px 0;
        }
      }
    }
  }
  @media only screen and (max-width: 768px) {
    .content {
      height: auto !important;
      width: 100% !important;
      display: block !important;
      aside {
        width: 100% !important;
        .info {
          font-size: 20px !important;
          img {
            width: 30% !important;
            display: flex !important;
            margin: auto !important;
          }
        }
      }
      article {
        .summary {
          font-size: 20px !important;
        }
      }
    }
    .container .item b {
      font-size: 25px;
    }
  }
}
